/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.label {
  color: var(--gray_900) !important;
}

.tone {
  width: 100%;
  display: flex;
}

.checkboxesand {
  margin-bottom: 4px;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-md);
  width: 100%;
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  border: 1px solid var(--blue_gray_100);
}

.radiocheckbox-6 {
  height: 20px;
  width: 20px;
  border-radius: 50%; /* Make it circular */
  border: 1px solid var(--blue_gray_500);
  display: inline-block; /* Make it inline */
  position: relative; /* Position for the inner circle */
  cursor: pointer; /* Change cursor to pointer */
}

.radiocheckbox-6.checked {
  background-color: var(--blue_gray_500); /* Change background when checked */
}

.input_one,
.input_three,
.input_five {
  border: 1px solid var(--blue_gray_100_01);
  contenteditable: true; /* Make the divs editable */
}

.radiocheckbox-6::after {
  content: '';
  display: block;
  width: 10px; /* Inner circle size */
  height: 10px; /* Inner circle size */
  border-radius: 50%; /* Make it circular */
  background-color: var(--white); /* Inner circle color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the inner circle */
  visibility: hidden; /* Hide by default */
}

.radiocheckbox-6.checked::after {
  visibility: visible; /* Show inner circle when checked */
  background-color: var(--deep_purple_a200); /* Inner circle color */
}
