Backend/Python/ScoreMe Python Backend/pyvenv.cfg
Backend/Python/ScoreMe Python Backend/bin
Backend/Python/ScoreMe Python Backend/include
Backend/Python/ScoreMe Python Backend/lib/python3.11/site-packages
Backend/Python/ScoreMe Python Backend/.env